@import url(//db.onlinewebfonts.com/c/62fa13c8d6a7597eef48bdd7e57de4a3?family=Heart+Breaking+Bad);
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(bg.jpg);
    font-family:'Heart Breaking Bad' ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    margin: 10px;
}
input {
    width: 70%;
    height: 30px;
    outline: 0em;
    margin-bottom: 20px;
}
input:focus{
    border-color:skyblue;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
}

.output{
    display: grid;
}
.list-group{
    list-style-type: none;
}
#personimg{
    width: 200px;  
    border-radius: 50%;  
}
.name{
    margin: 4px;
    font-size: 40px;
    color: white;
}
.nickname{
    color: white;
    font-size:20px;
    font-family: cursive;
    margin: 4px;
}
.portrayed{
    color: red;
    margin-bottom: 20px;
}

/* CSS of Links  Below*/
#ul {
    display: flex;
    margin-bottom: 10px;
}
#ul #li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer; 
}

#ul #li a {
    text-decoration: none;
    /* pointer-events: none; */
}

#ul #li a .fa {
    font-size: 3em;
    color: #222;
}

#ul #li::before{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: height 1.5s ease-in-out;
    pointer-events: all;
}

#ul #li:nth-child(1)::before{
    content: '\f099';
    color: #1da1f2;
    border-bottom: 4px solid #1da1f2;
    pointer-events: all;
}
#ul #li:hover::before{
    height: 100%;
}
#ul #li:nth-child(2)::before{
    content: '\f16d';
    color:  #405DE6;
    border-bottom: 4px solid #405DE6;
    pointer-events: all;
}
#ul #li:hover::before{
    height: 100%;
}
#ul #li:nth-child(3)::before{
    content: '\f09b';
    color: #000000;
    border-bottom: 4px solid #000000;
    pointer-events: all;
}
#ul #li:hover::before{
    height: 100%;
}